In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from glob import glob     ## for reading files we use glob module
import librosa as lr      ## special lib to read and manipulate audio files
import pandas as pd
import sklearn.metrics as metrics
from os import listdir
from os.path import isfile, join
import os
import librosa
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import specgram
import json
import time
import io
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
%matplotlib inline
plt.style.use('ggplot')
%matplotlib inline
import sklearn
import matplotlib.pyplot as plt
import librosa.display
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from  sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
from sklearn.multiclass import OneVsRestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict, KFold
import warnings
warnings.filterwarnings('ignore')
from matplotlib.pyplot import figure
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
import matplotlib.pyplot as plt  
from sklearn.datasets import make_classification
from sklearn.metrics import plot_confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix 
##from sklearn.metrics import multiclass_roc_auc_score

In [45]:
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [46]:
import tensorflow
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout,Activation
from tensorflow.keras import layers
from tensorflow.keras.layers import Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.optimizers import SGD
from tensorflow.keras.utils import normalize, to_categorical

In [47]:
import os
PATH = r'D:\Nikita Old Laptop\TH Koln\RP_NEW'
os.chdir(PATH)

In [48]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is F2BE-10BF

 Directory of D:\Nikita Old Laptop\TH Koln\RP_NEW

01/10/2021  15:35    <DIR>          .
01/10/2021  15:35    <DIR>          ..
17/08/2021  13:17    <DIR>          ALL
10/04/2021  13:53       495.705.834 ALL.zip
17/08/2021  13:18    <DIR>          ALL2
17/08/2021  13:19    <DIR>          ALL2 old
17/08/2021  13:19    <DIR>          Chunks
30/03/2021  13:49            31.372 Concat_OneHotEncoding_MFCCExtract.PNG
17/08/2021  13:19    <DIR>          Dog Bark Wav files
17/08/2021  13:19    <DIR>          Dog_Chunks_Revised
02/05/2021  21:45               261 Dog_Species_Name.txt
17/12/2020  13:36        36.704.150 dogfilescompressed.zip
17/08/2021  13:19    <DIR>          DSP
17/08/2021  13:19    <DIR>          dsplab
17/08/2021  13:19    <DIR>          German_shephard
17/08/2021  13:19    <DIR>          German_shephard New
17/08/2021  13:20    <DIR>          GreatDaneVoice
27/04/2021  14:51             3.362 labels_train0_test1.txt
22/03/2021  20:34           209.123 MFCC_To_Do_Dataset.PNG
07/05/2021  00:07           686.422 Multiclass ROC.png
01/10/2021  14:27    <DIR>          my_dir
17/08/2021  13:20    <DIR>          New folder
02/05/2021  21:45             4.216 new_labels_train0_test1.txt
27/04/2021  14:50            17.601 new_rec_id_File_nake.txt
02/05/2021  21:45            21.662 new_rec_id_File_name_Labels.txt
17/08/2021  13:20    <DIR>          NewEditted
02/05/2021  21:37    <DIR>          NewStart
30/03/2021  13:45            89.810 One_Hot_Encoding.PNG
01/10/2021  13:57    <DIR>          output
31/03/2021  21:34            17.639 rec_id_File_nake.txt
30/03/2021  17:25            15.693 rec_id_File_name.txt
31/03/2021  21:33            17.049 rec_id_File_name_Labels.txt
13/07/2021  17:41         2.500.065 RP Final paper of mine revised.docx
04/07/2021  21:37         2.501.450 RP Final paper of mine.docx
04/07/2021  21:38         2.876.685 rp.pdf
02/07/2021  14:03         4.036.260 RP_Paper_Mine.docx
17/08/2021  13:20    <DIR>          test
17/08/2021  13:23    <DIR>          Test_data
17/08/2021  13:23    <DIR>          thkdsp
17/08/2021  13:24    <DIR>          ttt
01/10/2021  15:35    <DIR>          untitled_project
              18 File(s)    545.438.654 bytes
              23 Dir(s)  15.652.175.872 bytes free

In [49]:
dog_species_name = pd.read_csv('Dog_Species_Name.txt')
dog_species_name

    dog_id dog_code  dog_species_name
0        1       BT    Boston_Terrier
1        2       BX             Boxer
2        3       BD           Bulldog
3        4       CS   AlaskanMalamute
4        5       DB          Doberman
5        6       GS   German_shephard
6        7       GR  Golden_retriever
7        8       GD         GreatDane
8        9       LB          Labrador
9       10       PB           Pitbull
10      11       PM        Pomeranian
11      12       PD            Poodle
12      13       RT        Rottweiler

In [50]:
file_name = pd.read_csv('new_rec_id_File_name_Labels.txt')
file_name

     dog_id           filename      dogspecies  labels
0         0    Boston_Terrier0  Boston_Terrier       1
1         1   Boston_Terrier0C  Boston_Terrier       1
2         2  Boston_Terrier0C1  Boston_Terrier       1
3         3  Boston_Terrier0C2  Boston_Terrier       1
4         4    Boston_Terrier1  Boston_Terrier       1
..      ...                ...             ...     ...
712     712       Rottweiler57      Rottweiler      13
713     713       Rottweiler58      Rottweiler      13
714     714       Rottweiler59      Rottweiler      13
715     715       Rottweiler60      Rottweiler      13
716     716       Rottweiler61      Rottweiler      13

[717 rows x 4 columns]

In [51]:
labels = pd.read_csv('new_labels_train0_test1.txt')
labels

    dog_id  label
0        0    1.0
1        1    1.0
2        2    1.0
3        3    1.0
4        4    1.0
..     ...    ...
714    713    0.0
715    714    0.0
716    715    0.0
717    716    0.0
718    717    0.0

[719 rows x 2 columns]



*******************************Reading the audio files***********************************************

In [52]:
data_dir = r'D:\Nikita Old Laptop\TH Koln\RP_NEW\ALL2'
audio_files = glob(data_dir + '/*.wav')   #reading audio files
len(audio_files)

717

In [53]:
audio, sfreq = lr.load(audio_files[0])   ## reading the first audio file and create time array(timeline)
## This returns an audio time series as a numpy array with a default sampling rate(sr) of 22KHZ
x= librosa.load(audio_files[0], sr=None)  
time = np.arange(0, len(audio)) / sfreq 
time
print (sfreq)

22050



*****************************MFCC*************************************

In [54]:
df = pd.DataFrame(columns=['MFCCS Extract'])
counter=0
for file in range(0,len(audio_files), 1):
    audio, sfreq = lr.load(audio_files [file])
    sampling_rate= np.array(sfreq)
    mfccs = np.mean(librosa.feature.mfcc(y=audio, sr=sampling_rate, n_mfcc=13),axis=0)
    df.loc[counter]  = [mfccs]
    counter = (counter + 1)

In [55]:
df.head(10)

                                       MFCCS Extract
0  [-50.041462, -50.00325, -49.94745, -48.34558, ...
1  [-46.790066, -44.80235, -43.05767, -41.74796, ...
2  [-39.957363, -39.143734, -39.61368, -41.67441,...
3  [-55.828674, -55.828674, -55.828674, -55.82867...
4  [-36.97554, -36.364017, -37.446835, -38.520287...
5  [-41.524574, -40.81351, -40.87403, -39.98979, ...
6  [-40.070084, -39.02108, -39.519962, -39.05342,...
7  [-38.754574, -39.78123, -40.115776, -41.070683...
8  [-43.481377, -44.036358, -45.095116, -45.04360...
9  [-32.485435, -33.935074, -34.60613, -33.777603...

In [56]:
dataset = pd.concat([file_name, labels], axis=1)

In [57]:
dataset.head()

  dog_id           filename      dogspecies  labels dog_id  label
0    0.0    Boston_Terrier0  Boston_Terrier     1.0      0    1.0
1    1.0   Boston_Terrier0C  Boston_Terrier     1.0      1    1.0
2    2.0  Boston_Terrier0C1  Boston_Terrier     1.0      2    1.0
3    3.0  Boston_Terrier0C2  Boston_Terrier     1.0      3    1.0
4    4.0    Boston_Terrier1  Boston_Terrier     1.0      4    1.0

In [58]:
dataset_extract = pd.concat([dataset,pd.DataFrame(df['MFCCS Extract'])],axis=1)
dataset_extract.head(12)

,dog_id,filename,dogspecies,labels,dog_id,label,MFCCS Extract
0,0.0,Boston_Terrier0,Boston_Terrier,1.0,0,1.0,"[-50.041462, -50.00325, -49.94745, -48.34558, ..."
1,1.0,Boston_Terrier0C,Boston_Terrier,1.0,1,1.0,"[-46.790066, -44.80235, -43.05767, -41.74796, ..."
2,2.0,Boston_Terrier0C1,Boston_Terrier,1.0,2,1.0,"[-39.957363, -39.143734, -39.61368, -41.67441,..."
3,3.0,Boston_Terrier0C2,Boston_Terrier,1.0,3,1.0,"[-55.828674, -55.828674, -55.828674, -55.82867..."
4,4.0,Boston_Terrier1,Boston_Terrier,1.0,4,1.0,"[-36.97554, -36.364017, -37.446835, -38.520287..."
5,5.0,Boston_Terrier1C,Boston_Terrier,1.0,5,1.0,"[-41.524574, -40.81351, -40.87403, -39.98979, ..."
6,6.0,Boston_Terrier1C1,Boston_Terrier,1.0,6,1.0,"[-40.070084, -39.02108, -39.519962, -39.05342,..."
7,7.0,Boston_Terrier1C2,Boston_Terrier,1.0,7,1.0,"[-38.754574, -39.78123, -40.115776, -41.070683..."
8,8.0,Boston_Terrier2,Boston_Terrier,1.0,8,1.0,"[-43.481377, -44.036358, -45.095116, -45.04360..."
9,9.0,Boston_Terrier2C1,Boston_Terrier,1.0,9,1.0,"[-32.485435, -33.935074, -34.60613, -33.777603..."
10,10.0,Boston_Terrier2C2,Boston_Terrier,1.0,10,1.0,"[-44.908245, -44.909523, -43.673626, -42.00966..."
11,11.0,Boston_Terrier3,Boston_Terrier,1.0,11,1.0,"[-43.250713, -42.86821, -43.355637, -44.05754,..."

In [59]:
dataset_extract = pd.concat([dataset,pd.DataFrame(df['MFCCS Extract'].values.tolist())],axis=1)
dataset_extract.head(20)

,dog_id,filename,dogspecies,labels,dog_id,label,0,1,2,3,...,421,422,423,424,425,426,427,428,429,430
0,0.0,Boston_Terrier0,Boston_Terrier,1.0,0,1.0,-50.041462,-50.003250,-49.947449,-48.345581,...,-32.876003,-34.681778,-34.901638,-36.760662,-36.373482,-35.598087,-35.282864,-35.864342,-36.235023,-36.159672
1,1.0,Boston_Terrier0C,Boston_Terrier,1.0,1,1.0,-46.790066,-44.802349,-43.057671,-41.747959,...,-43.861435,-44.290188,-45.591446,-45.919601,-46.195679,-45.785397,-44.901859,-40.933559,-38.330448,-36.514595
2,2.0,Boston_Terrier0C1,Boston_Terrier,1.0,2,1.0,-39.957363,-39.143734,-39.613682,-41.674412,...,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001
3,3.0,Boston_Terrier0C2,Boston_Terrier,1.0,3,1.0,-55.828674,-55.828674,-55.828674,-55.828674,...,-47.216812,-46.294334,-45.568333,-44.612759,-45.091316,-45.151089,-45.824944,-47.071823,-46.526569,-47.299664
4,4.0,Boston_Terrier1,Boston_Terrier,1.0,4,1.0,-36.975540,-36.364017,-37.446835,-38.520287,...,-39.474495,-40.251915,-40.150742,-39.654861,-39.441658,-39.536167,-40.015804,-39.968559,-38.872219,-38.958836
5,5.0,Boston_Terrier1C,Boston_Terrier,1.0,5,1.0,-41.524574,-40.813511,-40.874031,-39.989792,...,-46.721806,-46.435493,-46.584736,-44.396542,-43.096634,-42.374905,-42.015518,-42.980721,-42.186081,-42.945065
6,6.0,Boston_Terrier1C1,Boston_Terrier,1.0,6,1.0,-40.070084,-39.021080,-39.519962,-39.053421,...,-44.051170,-45.229763,-41.536190,-38.046181,-26.480526,-23.850372,-24.239733,-22.892021,-20.148836,-20.589781
7,7.0,Boston_Terrier1C2,Boston_Terrier,1.0,7,1.0,-38.754574,-39.781231,-40.115776,-41.070683,...,-27.082256,-27.107552,-27.017307,-28.480314,-30.478981,-32.646400,-34.091080,-37.385872,-39.024628,-39.374153
8,8.0,Boston_Terrier2,Boston_Terrier,1.0,8,1.0,-43.481377,-44.036358,-45.095116,-45.043606,...,-36.859554,-34.877705,-30.882170,-31.321337,-31.946712,-30.527700,-30.834158,-32.819862,-35.397251,-37.645828
9,9.0,Boston_Terrier2C1,Boston_Terrier,1.0,9,1.0,-32.485435,-33.935074,-34.606129,-33.777603,...,-42.382439,-42.230949,-42.732681,-42.326534,-41.908524,-43.051548,-42.462723,-41.691372,-40.862061,-40.842728
10,10.0,Boston_Terrier2C2,Boston_Terrier,1.0,10,1.0,-44.908245,-44.909523,-43.673626,-42.009666,...,-43.216404,-44.044724,-44.401981,-43.622566,-45.295261,-44.575779,-45.341072,-45.756954,-45.780056,-46.505245
11,11.0,Boston_Terrier3,Boston_Terrier,1.0,11,1.0,-43.250713,-42.868210,-43.355637,-44.057541,...,-32.272575,-33.555836,-36.539196,-39.978874,-41.206924,-41.023399,-41.526386,-43.191910,-43.917362,-44.344883
12,12.0,Boston_Terrier3C,Boston_Terrier,1.0,12,1.0,-47.251076,-47.383904,-46.844585,-45.625320,...,-43.969780,-44.440472,-39.733910,-38.049416,-36.831387,-36.074665,-36.782303,-37.834633,-37.959641,-36.749096
13,13.0,Boston_Terrier3C1,Boston_Terrier,1.0,13,1.0,-44.766949,-41.244099,-41.028851,-41.660828,...,-50.072018,-50.072018,-50.072018,-50.072018,-50.072018,-50.072018,-50.072018,-50.072018,-50.072018,-50.072018
14,14.0,Boston_Terrier4,Boston_Terrier,1.0,14,1.0,-34.228676,-34.688820,-37.442513,-39.493279,...,-31.840797,-34.292000,-37.035080,-38.805618,-41.147095,-44.866863,-46.132668,-46.782600,-46.894985,-47.757774
15,15.0,Boston_Terrier4C,Boston_Terrier,1.0,15,1.0,-34.228676,-34.688820,-37.442513,-39.493279,...,-31.840797,-34.292000,-37.035080,-38.805618,-41.147095,-44.866863,-46.132668,-46.782600,-46.894985,-47.757774
16,16.0,Boston_Terrier4C1,Boston_Terrier,1.0,16,0.0,-43.250713,-42.868210,-43.355637,-44.057541,...,-32.272575,-33.555836,-36.539196,-39.978874,-41.206924,-41.023399,-41.526386,-43.191910,-43.917362,-44.344883
17,17.0,Boston_Terrier5,Boston_Terrier,1.0,17,0.0,-50.041462,-50.003250,-49.947449,-48.345581,...,-32.876003,-34.681778,-34.901638,-36.760662,-36.373482,-35.598087,-35.282864,-35.864342,-36.235023,-36.159672
18,18.0,Boston_Terrier5C,Boston_Terrier,1.0,18,0.0,-37.552986,-38.008217,-39.235893,-38.532036,...,-43.086422,-43.127113,-42.072735,-41.912838,-43.293766,-43.203003,-43.260941,-43.960506,-41.690361,-41.427124
19,19.0,Boston_Terrier5C1,Boston_Terrier,1.0,19,0.0,-55.858864,-55.858864,-55.858864,-55.858864,...,-36.759354,-33.277191,-36.485783,-38.734230,-40.927738,-34.489616,-28.915316,-28.987591,-30.138432,-26.203815

In [60]:
dataset_extract.iloc[:, : 20]

,dog_id,filename,dogspecies,labels,dog_id,label,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,Boston_Terrier0,Boston_Terrier,1.0,0,1.0,-50.041462,-50.003250,-49.947449,-48.345581,-47.775471,-47.037655,-47.173264,-47.701191,-49.982925,-48.504028,-47.447224,-48.465816,-49.632202,-48.666462
1,1.0,Boston_Terrier0C,Boston_Terrier,1.0,1,1.0,-46.790066,-44.802349,-43.057671,-41.747959,-41.896206,-44.005531,-42.820610,-43.163273,-43.077114,-43.233894,-43.896572,-44.711018,-42.195946,-31.426277
2,2.0,Boston_Terrier0C1,Boston_Terrier,1.0,2,1.0,-39.957363,-39.143734,-39.613682,-41.674412,-40.498295,-39.722054,-38.753517,-38.400444,-38.729492,-38.416801,-39.125206,-38.837269,-37.967758,-37.834785
3,3.0,Boston_Terrier0C2,Boston_Terrier,1.0,3,1.0,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674
4,4.0,Boston_Terrier1,Boston_Terrier,1.0,4,1.0,-36.975540,-36.364017,-37.446835,-38.520287,-38.777847,-39.352287,-40.239662,-40.569096,-40.738628,-41.662754,-41.178719,-41.141098,-41.432350,-41.018974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,714.0,Rottweiler59,Rottweiler,13.0,713,0.0,-28.463297,-27.527332,-26.953836,-26.831566,-26.524406,-26.966545,-28.865671,-28.803789,-28.080811,-27.905174,-27.096754,-27.478951,-27.794039,-28.512486
715,715.0,Rottweiler60,Rottweiler,13.0,714,0.0,-30.286715,-29.165621,-28.156706,-29.097506,-28.868044,-28.214598,-29.192690,-28.001232,-27.167027,-29.099722,-30.399675,-28.865002,-28.852093,-29.121054
716,716.0,Rottweiler61,Rottweiler,13.0,715,0.0,-26.511745,-25.712849,-23.687513,-21.413832,-22.780773,-22.799541,-24.381014,-23.372944,-23.810709,-23.893190,-24.130543,-24.127155,-24.301950,-23.473867
717,NaN,NaN,NaN,NaN,716,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
718,NaN,NaN,NaN,NaN,717,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


Drop all non numerical values and NaN values

In [61]:
dataset_extract = dataset_extract.dropna()

In [62]:
y=dataset_extract.labels
y=y.astype('int')
y

0       1
1       1
2       1
3       1
4       1
       ..
711    13
712    13
714    13
715    13
716    13
Name: labels, Length: 705, dtype: int32

In [63]:
x=dataset_extract.drop(['labels','dog_id','label','filename','dog_id','dogspecies'], axis=1)
x.head()

,0,1,2,3,4,5,6,7,8,9,...,421,422,423,424,425,426,427,428,429,430
0,-50.041462,-50.003250,-49.947449,-48.345581,-47.775471,-47.037655,-47.173264,-47.701191,-49.982925,-48.504028,...,-32.876003,-34.681778,-34.901638,-36.760662,-36.373482,-35.598087,-35.282864,-35.864342,-36.235023,-36.159672
1,-46.790066,-44.802349,-43.057671,-41.747959,-41.896206,-44.005531,-42.820610,-43.163273,-43.077114,-43.233894,...,-43.861435,-44.290188,-45.591446,-45.919601,-46.195679,-45.785397,-44.901859,-40.933559,-38.330448,-36.514595
2,-39.957363,-39.143734,-39.613682,-41.674412,-40.498295,-39.722054,-38.753517,-38.400444,-38.729492,-38.416801,...,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001
3,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,...,-47.216812,-46.294334,-45.568333,-44.612759,-45.091316,-45.151089,-45.824944,-47.071823,-46.526569,-47.299664
4,-36.975540,-36.364017,-37.446835,-38.520287,-38.777847,-39.352287,-40.239662,-40.569096,-40.738628,-41.662754,...,-39.474495,-40.251915,-40.150742,-39.654861,-39.441658,-39.536167,-40.015804,-39.968559,-38.872219,-38.958836



Feature Scaling:

We know our dataset is not yet a scaled value, for instance the Boston_Ter has values in the range within 25 while Doberman has values in range within 80. To do so, we will use Scikit-Learn's StandardScaler class.

In [32]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

NameError: name 'x_train' is not defined

******************Splitting the dataset into test and train********************************

In [64]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size= 0.20, random_state=42)

In [65]:
x_train.head()

,0,1,2,3,4,5,6,7,8,9,...,421,422,423,424,425,426,427,428,429,430
24,-42.272320,-42.105095,-43.098701,-44.115906,-44.650925,-44.874748,-44.486488,-43.248405,-43.096951,-41.740807,...,-43.742023,-45.832188,-44.413918,-43.393742,-44.070156,-45.458778,-44.939835,-43.502102,-44.809856,-44.214531
157,-36.069454,-36.069454,-36.069454,-36.069454,-36.069454,-36.069454,-36.069454,-36.069454,-36.069454,-36.069454,...,-16.562180,-16.678587,-14.711318,-14.100725,-14.662766,-15.461031,-20.508993,-33.905003,-36.069454,-36.069454
214,-27.004137,-27.303862,-28.387459,-28.058664,-26.793324,-22.904348,-20.472979,-19.914295,-19.559786,-21.204027,...,-22.205452,-22.658436,-22.557812,-21.874523,-23.078264,-22.899778,-23.293240,-23.957777,-24.234789,-24.018524
265,-18.852114,-18.856640,-20.973360,-17.581261,-10.965231,-7.769562,-10.272451,-11.627513,-12.837032,-14.478555,...,-24.118793,-22.061472,-21.259869,-21.376669,-20.268950,-19.884081,-21.078716,-23.414358,-24.466042,-24.915459
432,-22.557688,-22.110014,-23.188692,-23.330736,-24.281189,-26.260874,-26.640324,-27.912727,-29.951536,-28.256948,...,-27.509739,-27.143333,-26.276005,-25.375563,-27.428099,-22.808981,-19.086439,-18.387367,-20.060001,-22.193155

In [66]:
x_train.shape

(564, 431)

In [67]:
x_test.head()

,0,1,2,3,4,5,6,7,8,9,...,421,422,423,424,425,426,427,428,429,430
486,-8.079051,-12.741765,-25.956562,-28.356922,-30.420055,-28.966421,-24.851067,-24.089893,-21.585308,-20.550749,...,-30.764336,-29.139885,-25.656834,-22.865536,-19.941277,-18.414726,-18.525921,-18.924618,-19.917616,-18.703056
81,-8.018672,-12.299545,-22.445728,-21.507324,-23.189615,-23.630627,-23.724072,-24.848400,-22.335423,-22.880848,...,-29.506071,-27.613495,-26.474241,-27.600870,-28.238659,-28.473372,-29.238810,-28.128305,-27.381636,-29.574556
77,-29.747419,-28.982883,-30.019182,-30.545807,-30.024782,-29.332890,-28.776838,-29.233101,-29.083889,-26.738995,...,-26.945711,-29.169842,-29.571079,-27.907269,-27.348621,-27.574284,-27.321217,-29.453539,-29.023045,-28.557934
212,-28.268442,-27.808079,-28.325125,-28.138573,-26.559053,-23.305866,-20.278412,-21.143715,-21.045082,-21.197266,...,-21.694258,-22.452240,-22.901663,-23.555807,-22.511610,-21.637287,-23.507967,-23.138456,-23.476168,-23.360579
325,-24.912880,-26.114683,-28.986174,-29.086678,-29.231838,-27.737680,-25.160778,-25.987764,-27.655712,-29.863731,...,-18.506567,-19.183250,-19.793425,-19.792067,-19.369108,-17.977880,-19.170700,-18.101131,-18.129948,-19.848202

In [68]:
x_test.shape

(141, 431)

In [69]:
pd.DataFrame(x).fillna(0)

,0,1,2,3,4,5,6,7,8,9,...,421,422,423,424,425,426,427,428,429,430
0,-50.041462,-50.003250,-49.947449,-48.345581,-47.775471,-47.037655,-47.173264,-47.701191,-49.982925,-48.504028,...,-32.876003,-34.681778,-34.901638,-36.760662,-36.373482,-35.598087,-35.282864,-35.864342,-36.235023,-36.159672
1,-46.790066,-44.802349,-43.057671,-41.747959,-41.896206,-44.005531,-42.820610,-43.163273,-43.077114,-43.233894,...,-43.861435,-44.290188,-45.591446,-45.919601,-46.195679,-45.785397,-44.901859,-40.933559,-38.330448,-36.514595
2,-39.957363,-39.143734,-39.613682,-41.674412,-40.498295,-39.722054,-38.753517,-38.400444,-38.729492,-38.416801,...,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001,-49.985001
3,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,-55.828674,...,-47.216812,-46.294334,-45.568333,-44.612759,-45.091316,-45.151089,-45.824944,-47.071823,-46.526569,-47.299664
4,-36.975540,-36.364017,-37.446835,-38.520287,-38.777847,-39.352287,-40.239662,-40.569096,-40.738628,-41.662754,...,-39.474495,-40.251915,-40.150742,-39.654861,-39.441658,-39.536167,-40.015804,-39.968559,-38.872219,-38.958836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,-29.229496,-27.581001,-25.175753,-21.627085,-21.553873,-24.421684,-25.289314,-23.398417,-23.672058,-24.214111,...,-29.542528,-28.603130,-27.143188,-27.827238,-28.075167,-27.699768,-26.472902,-26.178205,-28.638268,-28.620625
712,-24.708096,-26.926058,-30.946774,-31.771751,-29.448639,-28.138908,-28.443796,-28.106884,-30.312002,-30.948975,...,-20.660004,-21.485533,-20.763216,-21.566040,-24.913506,-25.927425,-23.345217,-23.191069,-24.927338,-17.632538
714,-28.463297,-27.527332,-26.953836,-26.831566,-26.524406,-26.966545,-28.865671,-28.803789,-28.080811,-27.905174,...,-26.241730,-26.322710,-28.327282,-28.759712,-28.848125,-28.688608,-28.051098,-28.172863,-27.710461,-28.391420
715,-30.286715,-29.165621,-28.156706,-29.097506,-28.868044,-28.214598,-29.192690,-28.001232,-27.167027,-29.099722,...,-29.704935,-28.824524,-25.135113,-24.822599,-26.514225,-27.450989,-25.880554,-25.621838,-24.817371,-25.416527
716,-26.511745,-25.712849,-23.687513,-21.413832,-22.780773,-22.799541,-24.381014,-23.372944,-23.810709,-23.893190,...,-22.906656,-24.228466,-23.992716,-22.840193,-23.814535,-23.789013,-25.097483,-26.327110,-23.136892,-17.680275

**********************************Deep Learning*************************************

In [70]:

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Convolution1D,MaxPooling1D,Dropout,Flatten,Dense,BatchNormalization,Conv1D,Activation
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.losses import categorical_crossentropy
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [30]:
from tensorflow.keras.utils import utils 
#y_train = np_utils.to_categorical(y_train)
#y_test = np_utils.to_categorical(y_test)
#y_train = keras.utils.to_categorical(y_train)
#y_test = keras.utils.to_categorical(y_test)

ImportError: cannot import name 'utils' from 'tensorflow.keras.utils' (C:\Users\Nikita Majumder\anaconda3\lib\site-packages\tensorflow\keras\utils\__init__.py)

In [71]:
y_train = tensorflow.keras.utils.to_categorical(y_train)
y_test = tensorflow.keras.utils.to_categorical(y_test)

In [72]:
x_train = np.expand_dims(x_train, axis=2)
x_test = np.expand_dims(x_test, axis=2)
x_train.shape

(564, 431, 1)

In [ ]:
*********************Model 1******************

In [33]:
#Define Model
model = Sequential()
model.add(Conv1D(32, kernel_size=3, activation='relu', input_shape=(x_train.shape[1],1)))
model.add(BatchNormalization())

model.add(Conv1D(64, kernel_size=3, activation='relu'))
model.add(BatchNormalization())

model.add(MaxPooling1D(pool_size=2))
model.add(Dropout(0.25))
model.add(Flatten())

model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(14, activation='softmax'))
optimizer = tensorflow.keras.optimizers.SGD(lr=0.01, momentum=0.9, decay=0.1)

In [34]:
#Compile
model.compile(loss=keras.losses.sparse_categorical_crossentropy, optimizer='Adam', metrics=['accuracy'])
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d (Conv1D)              (None, 429, 32)           128
_________________________________________________________________
batch_normalization (BatchNo (None, 429, 32)           128
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 427, 64)           6208
_________________________________________________________________
batch_normalization_1 (Batch (None, 427, 64)           256
_________________________________________________________________
max_pooling1d (MaxPooling1D) (None, 213, 64)           0
_________________________________________________________________
dropout (Dropout)            (None, 213, 64)           0
_________________________________________________________________
flatten (Flatten)            (None, 13632)             0
_________________________________________________________________
dense (Dense)                (None, 128)               1745024
_________________________________________________________________
dropout_1 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 14)                1806
=================================================================
Total params: 1,753,550
Trainable params: 1,753,358
Non-trainable params: 192
_________________________________________________________________
None

In [30]:
#Train and Test The Model
model.fit(x_train, y_train, batch_size=32, epochs=20, verbose=1, validation_data=(x_test, y_test))

Epoch 1/20
18/18 [==============================] - 2s 91ms/step - loss: 5.3682 - accuracy: 0.2713 - val_loss: 20.0741 - val_accuracy: 0.0496
Epoch 2/20
18/18 [==============================] - 1s 66ms/step - loss: 2.0409 - accuracy: 0.5301 - val_loss: 5.8338 - val_accuracy: 0.0993
Epoch 3/20
18/18 [==============================] - 1s 65ms/step - loss: 1.0205 - accuracy: 0.7216 - val_loss: 6.9190 - val_accuracy: 0.0780
Epoch 4/20
18/18 [==============================] - 1s 61ms/step - loss: 0.6499 - accuracy: 0.8156 - val_loss: 4.8906 - val_accuracy: 0.0922
Epoch 5/20
18/18 [==============================] - 1s 66ms/step - loss: 0.4802 - accuracy: 0.8280 - val_loss: 3.8737 - val_accuracy: 0.1418
Epoch 6/20
18/18 [==============================] - 1s 65ms/step - loss: 0.3734 - accuracy: 0.8848 - val_loss: 3.2025 - val_accuracy: 0.1844
Epoch 7/20
18/18 [==============================] - 1s 66ms/step - loss: 0.3943 - accuracy: 0.8812 - val_loss: 3.5929 - val_accuracy: 0.1773
Epoch 8/20
18/18 [==============================] - 1s 66ms/step - loss: 0.3855 - accuracy: 0.9060 - val_loss: 3.9696 - val_accuracy: 0.2199
Epoch 9/20
18/18 [==============================] - 1s 66ms/step - loss: 0.4195 - accuracy: 0.8972 - val_loss: 2.2551 - val_accuracy: 0.3546
Epoch 10/20
18/18 [==============================] - 1s 64ms/step - loss: 0.2491 - accuracy: 0.9202 - val_loss: 2.4668 - val_accuracy: 0.3830
Epoch 11/20
18/18 [==============================] - 1s 68ms/step - loss: 0.2163 - accuracy: 0.9344 - val_loss: 2.2983 - val_accuracy: 0.4255
Epoch 12/20
18/18 [==============================] - 1s 67ms/step - loss: 0.2150 - accuracy: 0.9220 - val_loss: 2.8248 - val_accuracy: 0.4397
Epoch 13/20
18/18 [==============================] - 1s 67ms/step - loss: 0.2017 - accuracy: 0.9202 - val_loss: 2.8804 - val_accuracy: 0.3972
Epoch 14/20
18/18 [==============================] - 1s 66ms/step - loss: 0.2062 - accuracy: 0.9379 - val_loss: 2.4082 - val_accuracy: 0.5035
Epoch 15/20
18/18 [==============================] - 1s 69ms/step - loss: 0.2034 - accuracy: 0.9433 - val_loss: 2.5564 - val_accuracy: 0.5390
Epoch 16/20
18/18 [==============================] - 1s 68ms/step - loss: 0.1665 - accuracy: 0.9397 - val_loss: 2.7866 - val_accuracy: 0.4894
Epoch 17/20
18/18 [==============================] - 1s 67ms/step - loss: 0.1724 - accuracy: 0.9433 - val_loss: 3.0579 - val_accuracy: 0.5532
Epoch 18/20
18/18 [==============================] - 1s 67ms/step - loss: 0.1786 - accuracy: 0.9344 - val_loss: 2.9732 - val_accuracy: 0.5319
Epoch 19/20
18/18 [==============================] - 1s 66ms/step - loss: 0.2374 - accuracy: 0.9326 - val_loss: 3.0520 - val_accuracy: 0.5674
Epoch 20/20
18/18 [==============================] - 1s 67ms/step - loss: 0.2028 - accuracy: 0.9184 - val_loss: 3.3151 - val_accuracy: 0.5461

In [31]:
# Evaluating the model on the training and testing set
score = model.evaluate(x_train, y_train, verbose=0)
print("Training Accuracy: {0:.2%}".format(score[1]))

Training Accuracy: 97.34%

In [33]:
score = model.evaluate(x_test, y_test, verbose=0)
print("Testing Accuracy: {0:.2%}".format(score[1]))

Testing Accuracy: 54.61%

*******************************Model 2 change******************************

In [80]:
#Define Model
model = Sequential()
model.add(Conv1D(32, kernel_size=3, activation='relu', input_shape=(x_train.shape[1],1)))
model.add(BatchNormalization())

model.add(Conv1D(64, kernel_size=3, activation='relu'))
model.add(BatchNormalization())

model.add(MaxPooling1D(pool_size=2))
model.add(Dropout(0.25))
model.add(Flatten())

model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(14, activation='softmax'))
optimizer = tensorflow.keras.optimizers.SGD(lr=0.01, momentum=0.9, decay=0.1)

In [81]:
model.compile(loss='categorical_crossentropy',metrics=['accuracy'],optimizer='adam')

In [82]:
model.fit(x_train, y_train, batch_size=32, epochs=100, verbose=3, validation_data=(x_test, y_test))

Epoch 1/100
Epoch 2/100
Epoch 3/100
Epoch 4/100
Epoch 5/100
Epoch 6/100
Epoch 7/100
Epoch 8/100
Epoch 9/100
Epoch 10/100
Epoch 11/100
Epoch 12/100
Epoch 13/100
Epoch 14/100
Epoch 15/100
Epoch 16/100
Epoch 17/100
Epoch 18/100
Epoch 19/100
Epoch 20/100
Epoch 21/100
Epoch 22/100
Epoch 23/100
Epoch 24/100
Epoch 25/100
Epoch 26/100
Epoch 27/100
Epoch 28/100
Epoch 29/100
Epoch 30/100
Epoch 31/100
Epoch 32/100
Epoch 33/100
Epoch 34/100
Epoch 35/100
Epoch 36/100
Epoch 37/100
Epoch 38/100
Epoch 39/100
Epoch 40/100
Epoch 41/100
Epoch 42/100
Epoch 43/100
Epoch 44/100
Epoch 45/100
Epoch 46/100
Epoch 47/100
Epoch 48/100
Epoch 49/100
Epoch 50/100
Epoch 51/100
Epoch 52/100
Epoch 53/100
Epoch 54/100
Epoch 55/100
Epoch 56/100
Epoch 57/100
Epoch 58/100
Epoch 59/100
Epoch 60/100
Epoch 61/100
Epoch 62/100
Epoch 63/100
Epoch 64/100
Epoch 65/100
Epoch 66/100
Epoch 67/100
Epoch 68/100
Epoch 69/100
Epoch 70/100
Epoch 71/100
Epoch 72/100
Epoch 73/100
Epoch 74/100
Epoch 75/100
Epoch 76/100
Epoch 77/100
Epoch 78/100
Epoch 79/100
Epoch 80/100
Epoch 81/100
Epoch 82/100
Epoch 83/100
Epoch 84/100
Epoch 85/100
Epoch 86/100
Epoch 87/100
Epoch 88/100
Epoch 89/100
Epoch 90/100
Epoch 91/100
Epoch 92/100
Epoch 93/100
Epoch 94/100
Epoch 95/100
Epoch 96/100
Epoch 97/100
Epoch 98/100
Epoch 99/100
Epoch 100/100

In [83]:
test_accuracy=model.evaluate(x_test,y_test,verbose=0)
print(test_accuracy[1])

0.39007091522216797

In [ ]:
**********************Final Deep Learning Algorithm**************************

In [84]:
dropout_value = 0.2

model = Sequential()

model.add(Conv1D(1024, 5, padding='same',input_shape=(x_train.shape[1],1)))  
model.add(Activation('relu'))
model.add(BatchNormalization())
model.add(Dropout(dropout_value))

model.add(MaxPooling1D(pool_size=(2)))

model.add(Conv1D(512, 5, padding='same'))
model.add(Activation('relu'))
model.add(Dropout(dropout_value))
model.add(BatchNormalization())

model.add(MaxPooling1D(pool_size=(2)))

model.add(Conv1D(256, 5, padding='same'))
model.add(Activation('relu'))
model.add(BatchNormalization())
model.add(Dropout(dropout_value))

model.add(MaxPooling1D(pool_size=(2)))

model.add(Conv1D(128, 5, padding='same'))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Dropout(dropout_value))

model.add(MaxPooling1D(pool_size=(2)))

model.add(Conv1D(64, 5, padding='same'))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Dropout(dropout_value))

model.add(MaxPooling1D(pool_size=(2)))

model.add(Conv1D(32, 5, padding='same'))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Dropout(dropout_value))
        
model.add(Flatten()) 

model.add(Dense(100))
model.add(Dense(14)) 
model.add(Activation('softmax'))
opt = keras.optimizers.Adam(lr=0.001)
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_9 (Conv1D)            (None, 431, 1024)         6144
_________________________________________________________________
activation_3 (Activation)    (None, 431, 1024)         0
_________________________________________________________________
batch_normalization_5 (Batch (None, 431, 1024)         4096
_________________________________________________________________
dropout_9 (Dropout)          (None, 431, 1024)         0
_________________________________________________________________
max_pooling1d_3 (MaxPooling1 (None, 215, 1024)         0
_________________________________________________________________
conv1d_10 (Conv1D)           (None, 215, 512)          2621952
_________________________________________________________________
activation_4 (Activation)    (None, 215, 512)          0
_________________________________________________________________
dropout_10 (Dropout)         (None, 215, 512)          0
_________________________________________________________________
batch_normalization_6 (Batch (None, 215, 512)          2048
_________________________________________________________________
max_pooling1d_4 (MaxPooling1 (None, 107, 512)          0
_________________________________________________________________
conv1d_11 (Conv1D)           (None, 107, 256)          655616
_________________________________________________________________
activation_5 (Activation)    (None, 107, 256)          0
_________________________________________________________________
batch_normalization_7 (Batch (None, 107, 256)          1024
_________________________________________________________________
dropout_11 (Dropout)         (None, 107, 256)          0
_________________________________________________________________
max_pooling1d_5 (MaxPooling1 (None, 53, 256)           0
_________________________________________________________________
conv1d_12 (Conv1D)           (None, 53, 128)           163968
_________________________________________________________________
batch_normalization_8 (Batch (None, 53, 128)           512
_________________________________________________________________
activation_6 (Activation)    (None, 53, 128)           0
_________________________________________________________________
dropout_12 (Dropout)         (None, 53, 128)           0
_________________________________________________________________
max_pooling1d_6 (MaxPooling1 (None, 26, 128)           0
_________________________________________________________________
conv1d_13 (Conv1D)           (None, 26, 64)            41024
_________________________________________________________________
batch_normalization_9 (Batch (None, 26, 64)            256
_________________________________________________________________
activation_7 (Activation)    (None, 26, 64)            0
_________________________________________________________________
dropout_13 (Dropout)         (None, 26, 64)            0
_________________________________________________________________
max_pooling1d_7 (MaxPooling1 (None, 13, 64)            0
_________________________________________________________________
conv1d_14 (Conv1D)           (None, 13, 32)            10272
_________________________________________________________________
batch_normalization_10 (Batc (None, 13, 32)            128
_________________________________________________________________
activation_8 (Activation)    (None, 13, 32)            0
_________________________________________________________________
dropout_14 (Dropout)         (None, 13, 32)            0
_________________________________________________________________
flatten_3 (Flatten)          (None, 416)               0
_________________________________________________________________
dense_8 (Dense)              (None, 100)               41700
_________________________________________________________________
dense_9 (Dense)              (None, 14)                1414
_________________________________________________________________
activation_9 (Activation)    (None, 14)                0
=================================================================
Total params: 3,550,154
Trainable params: 3,546,122
Non-trainable params: 4,032
_________________________________________________________________

In [40]:
from sklearn.metrics import classification_report,accuracy_score

def model_classification_report(x_test,y_test ):
  pred_prob=model.predict(x_test)  # predict validation set and compare with actual class
  pred=np.argmax(pred_prob,axis=-1)
  print(classification_report(np.argmax(y_test,axis=1),pred))
  print('Accuracy on Validation Set',accuracy_score(pred,np.argmax(y_test,axis=1)))

model_classification_report(x_test,y_test )

              precision    recall  f1-score   support

           1       0.00      0.00      0.00         3
           2       0.88      0.37      0.52        19
           3       0.47      0.56      0.51        16
           4       0.20      0.14      0.17         7
           5       0.89      0.80      0.84        10
           6       0.58      1.00      0.74         7
           7       0.80      0.80      0.80        20
           8       0.77      1.00      0.87        10
           9       1.00      0.86      0.92         7
          10       1.00      1.00      1.00         8
          11       0.53      0.89      0.67         9
          12       0.93      1.00      0.96        13
          13       1.00      1.00      1.00        12

    accuracy                           0.74       141
   macro avg       0.70      0.72      0.69       141
weighted avg       0.75      0.74      0.73       141

Accuracy on Validation Set 0.7446808510638298

In [85]:
model.compile(loss='categorical_crossentropy', optimizer= 'Adam',metrics=['accuracy'])
model_history=model.fit(x_train, y_train, batch_size=32, epochs = 25, validation_data=(x_test, y_test))

Epoch 1/25
18/18 [==============================] - 36s 2s/step - loss: 2.0308 - accuracy: 0.3528 - val_loss: 66.7821 - val_accuracy: 0.0496
Epoch 2/25
18/18 [==============================] - 38s 2s/step - loss: 1.4160 - accuracy: 0.5284 - val_loss: 24.7649 - val_accuracy: 0.0709
Epoch 3/25
18/18 [==============================] - 35s 2s/step - loss: 0.8071 - accuracy: 0.7358 - val_loss: 9.7573 - val_accuracy: 0.0496
Epoch 4/25
18/18 [==============================] - 36s 2s/step - loss: 0.5739 - accuracy: 0.7784 - val_loss: 5.3220 - val_accuracy: 0.1348
Epoch 5/25
18/18 [==============================] - 36s 2s/step - loss: 0.6061 - accuracy: 0.7819 - val_loss: 4.1038 - val_accuracy: 0.1135
Epoch 6/25
18/18 [==============================] - 36s 2s/step - loss: 0.5076 - accuracy: 0.8191 - val_loss: 3.5456 - val_accuracy: 0.2624
Epoch 7/25
18/18 [==============================] - 37s 2s/step - loss: 0.4084 - accuracy: 0.8546 - val_loss: 2.3042 - val_accuracy: 0.4326
Epoch 8/25
18/18 [==============================] - 33s 2s/step - loss: 0.3555 - accuracy: 0.8706 - val_loss: 2.1103 - val_accuracy: 0.4113
Epoch 9/25
18/18 [==============================] - 36s 2s/step - loss: 0.2476 - accuracy: 0.9096 - val_loss: 2.4342 - val_accuracy: 0.3262
Epoch 10/25
18/18 [==============================] - 37s 2s/step - loss: 0.2686 - accuracy: 0.9043 - val_loss: 2.0299 - val_accuracy: 0.4823
Epoch 11/25
18/18 [==============================] - 35s 2s/step - loss: 0.2314 - accuracy: 0.9025 - val_loss: 1.4822 - val_accuracy: 0.5461
Epoch 12/25
18/18 [==============================] - 36s 2s/step - loss: 0.2246 - accuracy: 0.9167 - val_loss: 1.3102 - val_accuracy: 0.5674
Epoch 13/25
18/18 [==============================] - 37s 2s/step - loss: 0.2551 - accuracy: 0.9025 - val_loss: 1.4676 - val_accuracy: 0.5461
Epoch 14/25
18/18 [==============================] - 36s 2s/step - loss: 0.3165 - accuracy: 0.8794 - val_loss: 1.1428 - val_accuracy: 0.6241
Epoch 15/25
18/18 [==============================] - 36s 2s/step - loss: 0.2692 - accuracy: 0.8865 - val_loss: 1.6027 - val_accuracy: 0.5390
Epoch 16/25
18/18 [==============================] - 38s 2s/step - loss: 0.2689 - accuracy: 0.8972 - val_loss: 1.1519 - val_accuracy: 0.6099
Epoch 17/25
18/18 [==============================] - 38s 2s/step - loss: 0.2443 - accuracy: 0.9007 - val_loss: 0.8629 - val_accuracy: 0.6596
Epoch 18/25
18/18 [==============================] - 38s 2s/step - loss: 0.2545 - accuracy: 0.8972 - val_loss: 1.1770 - val_accuracy: 0.6170
Epoch 19/25
18/18 [==============================] - 38s 2s/step - loss: 0.2222 - accuracy: 0.9167 - val_loss: 1.2242 - val_accuracy: 0.6454
Epoch 20/25
18/18 [==============================] - 38s 2s/step - loss: 0.2155 - accuracy: 0.9131 - val_loss: 0.9662 - val_accuracy: 0.7021
Epoch 21/25
18/18 [==============================] - 36s 2s/step - loss: 0.2239 - accuracy: 0.9184 - val_loss: 0.7941 - val_accuracy: 0.7730
Epoch 22/25
18/18 [==============================] - 35s 2s/step - loss: 0.1885 - accuracy: 0.9291 - val_loss: 0.6178 - val_accuracy: 0.7730
Epoch 23/25
18/18 [==============================] - 37s 2s/step - loss: 0.1978 - accuracy: 0.9238 - val_loss: 0.5359 - val_accuracy: 0.8227
Epoch 24/25
18/18 [==============================] - 36s 2s/step - loss: 0.2747 - accuracy: 0.8848 - val_loss: 0.7193 - val_accuracy: 0.7589
Epoch 25/25
18/18 [==============================] - 36s 2s/step - loss: 0.2411 - accuracy: 0.9096 - val_loss: 3.3846 - val_accuracy: 0.4113

In [86]:
model.compile(loss='categorical_crossentropy', optimizer= 'Adam',metrics=['accuracy'])
model_history=model.fit(x_train, y_train, batch_size=32, epochs = 23, validation_data=(x_test, y_test))

Epoch 1/23
18/18 [==============================] - 37s 2s/step - loss: 0.3012 - accuracy: 0.8848 - val_loss: 1.5127 - val_accuracy: 0.7092
Epoch 2/23
18/18 [==============================] - 36s 2s/step - loss: 0.2188 - accuracy: 0.9096 - val_loss: 3.5329 - val_accuracy: 0.4326
Epoch 3/23
18/18 [==============================] - 37s 2s/step - loss: 0.2197 - accuracy: 0.9060 - val_loss: 1.0783 - val_accuracy: 0.7872
Epoch 4/23
18/18 [==============================] - 36s 2s/step - loss: 0.2391 - accuracy: 0.9184 - val_loss: 2.7118 - val_accuracy: 0.4894
Epoch 5/23
18/18 [==============================] - 35s 2s/step - loss: 0.1892 - accuracy: 0.9344 - val_loss: 5.3135 - val_accuracy: 0.1986
Epoch 6/23
18/18 [==============================] - 35s 2s/step - loss: 0.1964 - accuracy: 0.9131 - val_loss: 1.0911 - val_accuracy: 0.6879
Epoch 7/23
18/18 [==============================] - 36s 2s/step - loss: 0.1546 - accuracy: 0.9450 - val_loss: 0.6304 - val_accuracy: 0.8014
Epoch 8/23
18/18 [==============================] - 37s 2s/step - loss: 0.1481 - accuracy: 0.9379 - val_loss: 0.5777 - val_accuracy: 0.8014
Epoch 9/23
18/18 [==============================] - 38s 2s/step - loss: 0.1383 - accuracy: 0.9344 - val_loss: 0.6738 - val_accuracy: 0.8440
Epoch 10/23
18/18 [==============================] - 38s 2s/step - loss: 0.1214 - accuracy: 0.9539 - val_loss: 3.2679 - val_accuracy: 0.5887
Epoch 11/23
18/18 [==============================] - 38s 2s/step - loss: 0.1307 - accuracy: 0.9397 - val_loss: 1.2703 - val_accuracy: 0.6312
Epoch 12/23
18/18 [==============================] - 38s 2s/step - loss: 0.1444 - accuracy: 0.9397 - val_loss: 2.9117 - val_accuracy: 0.4539
Epoch 13/23
18/18 [==============================] - 38s 2s/step - loss: 0.1277 - accuracy: 0.9521 - val_loss: 2.6350 - val_accuracy: 0.5106
Epoch 14/23
18/18 [==============================] - 38s 2s/step - loss: 0.1557 - accuracy: 0.9379 - val_loss: 0.8037 - val_accuracy: 0.7305
Epoch 15/23
18/18 [==============================] - 38s 2s/step - loss: 0.1458 - accuracy: 0.9326 - val_loss: 3.2464 - val_accuracy: 0.5745
Epoch 16/23
18/18 [==============================] - 37s 2s/step - loss: 0.1446 - accuracy: 0.9326 - val_loss: 3.0036 - val_accuracy: 0.4468
Epoch 17/23
18/18 [==============================] - 38s 2s/step - loss: 0.1130 - accuracy: 0.9610 - val_loss: 4.1315 - val_accuracy: 0.3759
Epoch 18/23
18/18 [==============================] - 38s 2s/step - loss: 0.1287 - accuracy: 0.9379 - val_loss: 3.2956 - val_accuracy: 0.4610
Epoch 19/23
18/18 [==============================] - 38s 2s/step - loss: 0.2530 - accuracy: 0.9078 - val_loss: 3.1285 - val_accuracy: 0.3617
Epoch 20/23
18/18 [==============================] - 40s 2s/step - loss: 0.1550 - accuracy: 0.9415 - val_loss: 4.4889 - val_accuracy: 0.2908
Epoch 21/23
18/18 [==============================] - 40s 2s/step - loss: 0.1062 - accuracy: 0.9557 - val_loss: 5.6341 - val_accuracy: 0.1915
Epoch 22/23
18/18 [==============================] - 40s 2s/step - loss: 0.0943 - accuracy: 0.9592 - val_loss: 5.3455 - val_accuracy: 0.2553
Epoch 23/23
18/18 [==============================] - 40s 2s/step - loss: 0.1301 - accuracy: 0.9415 - val_loss: 1.0728 - val_accuracy: 0.6879

In [88]:
model.compile(loss='categorical_crossentropy', optimizer= 'Adam',metrics=['accuracy'])
model_history=model.fit(x_train, y_train, batch_size=32, epochs = 50, validation_data=(x_test, y_test))

Epoch 1/50
18/18 [==============================] - 25s 1s/step - loss: 0.1329 - accuracy: 0.9486 - val_loss: 1.2147 - val_accuracy: 0.7376
Epoch 2/50
18/18 [==============================] - 27s 1s/step - loss: 0.1335 - accuracy: 0.9397 - val_loss: 2.3663 - val_accuracy: 0.5957
Epoch 3/50
18/18 [==============================] - 27s 1s/step - loss: 0.0873 - accuracy: 0.9628 - val_loss: 0.9945 - val_accuracy: 0.7730
Epoch 4/50
18/18 [==============================] - 27s 1s/step - loss: 0.0920 - accuracy: 0.9539 - val_loss: 1.2960 - val_accuracy: 0.6738
Epoch 5/50
18/18 [==============================] - 27s 1s/step - loss: 0.0694 - accuracy: 0.9681 - val_loss: 0.8867 - val_accuracy: 0.7589
Epoch 6/50
18/18 [==============================] - 27s 1s/step - loss: 0.0882 - accuracy: 0.9574 - val_loss: 6.8936 - val_accuracy: 0.2482
Epoch 7/50
18/18 [==============================] - 27s 1s/step - loss: 0.0845 - accuracy: 0.9628 - val_loss: 2.1351 - val_accuracy: 0.4610
Epoch 8/50
18/18 [==============================] - 27s 1s/step - loss: 0.1323 - accuracy: 0.9486 - val_loss: 1.2613 - val_accuracy: 0.6738
Epoch 9/50
18/18 [==============================] - 27s 2s/step - loss: 0.2701 - accuracy: 0.9202 - val_loss: 2.2540 - val_accuracy: 0.7092
Epoch 10/50
18/18 [==============================] - 29s 2s/step - loss: 0.1162 - accuracy: 0.9450 - val_loss: 7.8169 - val_accuracy: 0.2482
Epoch 11/50
18/18 [==============================] - 27s 2s/step - loss: 0.0892 - accuracy: 0.9539 - val_loss: 10.5690 - val_accuracy: 0.1702
Epoch 12/50
18/18 [==============================] - 27s 1s/step - loss: 0.1165 - accuracy: 0.9468 - val_loss: 10.1730 - val_accuracy: 0.2695
Epoch 13/50
18/18 [==============================] - 27s 1s/step - loss: 0.0769 - accuracy: 0.9610 - val_loss: 5.9504 - val_accuracy: 0.3759
Epoch 14/50
18/18 [==============================] - 27s 2s/step - loss: 0.0704 - accuracy: 0.9699 - val_loss: 9.5607 - val_accuracy: 0.2411
Epoch 15/50
18/18 [==============================] - 27s 2s/step - loss: 0.0832 - accuracy: 0.9699 - val_loss: 8.8269 - val_accuracy: 0.2695
Epoch 16/50
18/18 [==============================] - 27s 1s/step - loss: 0.0806 - accuracy: 0.9663 - val_loss: 10.6393 - val_accuracy: 0.2837
Epoch 17/50
18/18 [==============================] - 27s 1s/step - loss: 0.1035 - accuracy: 0.9539 - val_loss: 1.9003 - val_accuracy: 0.6596
Epoch 18/50
18/18 [==============================] - 27s 1s/step - loss: 0.1339 - accuracy: 0.9433 - val_loss: 3.1967 - val_accuracy: 0.4539
Epoch 19/50
18/18 [==============================] - 27s 2s/step - loss: 0.1052 - accuracy: 0.9504 - val_loss: 2.1585 - val_accuracy: 0.5603
Epoch 20/50
18/18 [==============================] - 27s 1s/step - loss: 0.1154 - accuracy: 0.9610 - val_loss: 3.6104 - val_accuracy: 0.4397
Epoch 21/50
18/18 [==============================] - 27s 1s/step - loss: 0.1157 - accuracy: 0.9362 - val_loss: 9.2596 - val_accuracy: 0.2270
Epoch 22/50
18/18 [==============================] - 27s 1s/step - loss: 0.0994 - accuracy: 0.9557 - val_loss: 10.0660 - val_accuracy: 0.2411
Epoch 23/50
18/18 [==============================] - 27s 2s/step - loss: 0.0933 - accuracy: 0.9574 - val_loss: 5.5212 - val_accuracy: 0.3050
Epoch 24/50
18/18 [==============================] - 27s 1s/step - loss: 0.0765 - accuracy: 0.9663 - val_loss: 13.6915 - val_accuracy: 0.0780
Epoch 25/50
18/18 [==============================] - 27s 1s/step - loss: 0.0701 - accuracy: 0.9699 - val_loss: 10.2771 - val_accuracy: 0.0709
Epoch 26/50
18/18 [==============================] - 27s 1s/step - loss: 0.0938 - accuracy: 0.9628 - val_loss: 4.3046 - val_accuracy: 0.3475
Epoch 27/50
18/18 [==============================] - 27s 1s/step - loss: 0.0952 - accuracy: 0.9574 - val_loss: 3.5087 - val_accuracy: 0.4539
Epoch 28/50
18/18 [==============================] - 27s 2s/step - loss: 0.1312 - accuracy: 0.9362 - val_loss: 3.2559 - val_accuracy: 0.3972
Epoch 29/50
18/18 [==============================] - 27s 1s/step - loss: 0.0969 - accuracy: 0.9645 - val_loss: 3.9562 - val_accuracy: 0.3050
Epoch 30/50
18/18 [==============================] - 27s 1s/step - loss: 0.0723 - accuracy: 0.9681 - val_loss: 4.7222 - val_accuracy: 0.3404
Epoch 31/50
18/18 [==============================] - 27s 2s/step - loss: 0.0971 - accuracy: 0.9521 - val_loss: 5.5838 - val_accuracy: 0.3972
Epoch 32/50
18/18 [==============================] - 27s 2s/step - loss: 0.0737 - accuracy: 0.9681 - val_loss: 3.7612 - val_accuracy: 0.3688
Epoch 33/50
18/18 [==============================] - 27s 1s/step - loss: 0.0731 - accuracy: 0.9645 - val_loss: 1.7552 - val_accuracy: 0.5674
Epoch 34/50
18/18 [==============================] - 27s 1s/step - loss: 0.0622 - accuracy: 0.9681 - val_loss: 6.6746 - val_accuracy: 0.1986
Epoch 35/50
18/18 [==============================] - 27s 1s/step - loss: 0.0828 - accuracy: 0.9610 - val_loss: 2.0190 - val_accuracy: 0.5957
Epoch 36/50
18/18 [==============================] - 27s 2s/step - loss: 0.0674 - accuracy: 0.9699 - val_loss: 4.4895 - val_accuracy: 0.4539
Epoch 37/50
18/18 [==============================] - 27s 2s/step - loss: 0.0619 - accuracy: 0.9716 - val_loss: 2.1319 - val_accuracy: 0.6099
Epoch 38/50
18/18 [==============================] - 27s 1s/step - loss: 0.0609 - accuracy: 0.9699 - val_loss: 0.7677 - val_accuracy: 0.8085
Epoch 39/50
18/18 [==============================] - 27s 1s/step - loss: 0.0564 - accuracy: 0.9716 - val_loss: 1.8440 - val_accuracy: 0.6241
Epoch 40/50
18/18 [==============================] - 27s 2s/step - loss: 0.0508 - accuracy: 0.9716 - val_loss: 1.1423 - val_accuracy: 0.7163
Epoch 41/50
18/18 [==============================] - 27s 1s/step - loss: 0.0594 - accuracy: 0.9716 - val_loss: 2.2253 - val_accuracy: 0.5390
Epoch 42/50
18/18 [==============================] - 27s 1s/step - loss: 0.0454 - accuracy: 0.9699 - val_loss: 3.9944 - val_accuracy: 0.5035
Epoch 43/50
18/18 [==============================] - 27s 1s/step - loss: 0.0519 - accuracy: 0.9752 - val_loss: 8.8811 - val_accuracy: 0.2624
Epoch 44/50
18/18 [==============================] - 27s 2s/step - loss: 0.0631 - accuracy: 0.9663 - val_loss: 0.7646 - val_accuracy: 0.7660
Epoch 45/50
18/18 [==============================] - 27s 2s/step - loss: 0.0628 - accuracy: 0.9663 - val_loss: 1.0677 - val_accuracy: 0.7518
Epoch 46/50
18/18 [==============================] - 27s 1s/step - loss: 0.0642 - accuracy: 0.9663 - val_loss: 1.1729 - val_accuracy: 0.7021
Epoch 47/50
18/18 [==============================] - 27s 1s/step - loss: 0.0603 - accuracy: 0.9699 - val_loss: 1.0367 - val_accuracy: 0.7305
Epoch 48/50
18/18 [==============================] - 27s 2s/step - loss: 0.0518 - accuracy: 0.9699 - val_loss: 0.9999 - val_accuracy: 0.7872
Epoch 49/50
18/18 [==============================] - 27s 1s/step - loss: 0.0482 - accuracy: 0.9716 - val_loss: 1.4626 - val_accuracy: 0.6809
Epoch 50/50
18/18 [==============================] - 27s 1s/step - loss: 0.0503 - accuracy: 0.9734 - val_loss: 1.6600 - val_accuracy: 0.6383

In [93]:
from sklearn.metrics import classification_report,accuracy_score

def model_classification_report(x_test,y_test ):
  pred_prob=model.predict(x_test)  # predict validation set and compare with actual class
  pred=np.argmax(pred_prob,axis=-1)
  print(classification_report(np.argmax(y_test,axis=1),pred))
  print('Accuracy on Validation Set',accuracy_score(pred,np.argmax(y_test,axis=1)))

model_classification_report(x_test,y_test )

              precision    recall  f1-score   support

           1       0.00      0.00      0.00         3
           2       0.80      0.42      0.55        19
           3       0.41      0.56      0.47        16
           4       0.42      0.71      0.53         7
           5       1.00      0.90      0.95        10
           6       0.78      1.00      0.88         7
           7       1.00      0.90      0.95        20
           8       1.00      1.00      1.00        10
           9       0.88      1.00      0.93         7
          10       1.00      1.00      1.00         8
          11       0.71      0.56      0.63         9
          12       0.93      1.00      0.96        13
          13       0.92      1.00      0.96        12

    accuracy                           0.79       141
   macro avg       0.76      0.77      0.75       141
weighted avg       0.81      0.79      0.78       141

Accuracy on Validation Set 0.7872340425531915

In [ ]:
*******************Early Stopping*********************

In [91]:
from tensorflow.keras.callbacks import EarlyStopping
early_stopping = EarlyStopping()

In [92]:
model.compile(loss='categorical_crossentropy', optimizer= 'Adam',metrics=['accuracy'])
#model_history=model.fit(x_train, y_train, batch_size=32, epochs = 45, validation_data=(x_test, y_test))

history = model.fit(
    x_train, 
    y_train, 
    epochs=200, 
    validation_split=0.25, 
    batch_size=40, 
    verbose=2,
    callbacks=[early_stopping]
)

Epoch 1/200
11/11 - 28s - loss: 0.0463 - accuracy: 0.9811 - val_loss: 5.2914 - val_accuracy: 0.5319
Epoch 2/200
11/11 - 27s - loss: 0.0170 - accuracy: 0.9953 - val_loss: 0.3026 - val_accuracy: 0.8652
Epoch 3/200
11/11 - 28s - loss: 0.0211 - accuracy: 0.9929 - val_loss: 0.2283 - val_accuracy: 0.8936
Epoch 4/200
11/11 - 28s - loss: 0.0122 - accuracy: 0.9976 - val_loss: 0.1980 - val_accuracy: 0.9149
Epoch 5/200
11/11 - 28s - loss: 0.0189 - accuracy: 0.9905 - val_loss: 0.3893 - val_accuracy: 0.8936